.container {
    margin: 20px;
    display: flex;
    height: 30px;
    flex-direction: row;
    align-items: flex-end;
    width: 93%;
    justify-content: space-between;

    select {
        width: 200px;

        padding: 10px;
        border-radius: 20px;


        :focus {
            outline: none;
        }

        option {
            :disabled {
                background-color: #BFBFBF;
            }
        }
    }

    .filterContainer {
        button {
            background-color: transparent;
            border: none;
            font-size: 16px;
            color: var(--secondary);

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
}

.divider {
    width: 90%;
    display: block;
    border: 1px solid #BFBFBF;
    opacity: 0.3;
    margin-top: 2rem;
    width: 100%;



}

@media (max-width: 1000px) {
    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;


        width: 100%;

        margin: 0;

        select {
            margin-top: 2rem;
            padding: 3px;
        }

        .filterContainer {
            margin-top: 3rem;
        }

    }

    .divider {
        margin-top: 4rem;
    }
}

@media (max-width: 426px) {
    .container {
        font-size: 18px;



        .filterContainer {
            button {
                font-size: 14px;
            }
        }
    }


}