.container {

    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    background-color: var(--secondary);
    border-radius: 20px;
    animation: fadein 2s;

    h1 {
        font-size: 1.3rem;
        width: 90%;
        text-decoration: underline;
        text-align: left;
        font-weight: 600;
    }

    .bottomInfo {

        width: 90%;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;

        img {
            width: 44px;
            border-radius: 20px;

        }

        div {
            margin-right: 3rem;

            p {
                font-weight: 600;
                text-align: center;
                margin: 0;
            }
        }
    }

    &:hover {
        opacity: 0.8;
    }
}

@media (max-width: 1063px) {
    .container {
        width: 90%;

        h1 {
            font-size: 1.3rem;
            width: 60%;
            text-decoration: underline;
            text-align: left;
            font-weight: 600;
        }

        .bottomInfo {
            width: 60%;

            div {
                margin-right: 0;
            }
        }
    }
}



@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}