.container {
    display: block;
    height: 100vh;
    background-color: var(--primary);
    width: 65%;
    overflow-y: scroll;
    animation: fadein 2s;
}

@media (max-width: 1024px) {
    .container {
        width: 100%;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}